<html>
<head>
<link rel="stylesheet" type="text/css" href="foundation.css" />
</head>
<body>
<!-- Nav Bar -->
 
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="index.html" class="button">Home</a></li>
         <li><a href="team.html" class="button">Team</a></li>
        </ul>
      </div>
      <h1>WeBlog <small>The awesome python weblog.</small></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 
		<article>
 
        <h3>{{entry title}}</h3>
        <h6>Written by <a href="#">{{users name}}</a> on {{entry date}}.</h6>
 
 {{
 entry content full
		<p> </p>
 }}
		</article>
 
		<hr />
		
		<table>
		<div id = "commentlist">
			<h6> Comments:</h6><br/>
			{{code for displaying comments}}
			<!--Adding comments-->
			<form action="" method="post">
			<input style="display:inline;width:200px;"type="text" name="name">
			<input type="submit" value="Submit" />
			</form>
		</div>
		
		</table>
		
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
 
      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>
 
      <div class="panel">
        <h5>Logged in as</h5>
        {{name}}<br/>
		{{about}}
		<br/><br/>
		<a href ="logout.html"> Log out </a>
      </div>
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013. All rights reserved.</p>
        </div>
        <!--<div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </footer>
</body>
</html>