<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/foundation.css" />
<title>{% block title %} WebLog - The coolest python Web Log{% endblock %}</title>
</head>
<body>
<!-- Nav Bar -->
 
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="{% url 'index' %}" class="button">Home</a></li>
         <li><a href="{% url 'team' %}" class="button">Team</a></li>
         
        </ul>
      </div>
      <h1><a href="{% url 'index' %}" style="text-decoration:none;">WebLog </a><small>
	  
		{% if message %}
			<span style="color:red;">{{ message }}</span>
		{% else %}
	  The coolest Python Web Log
		{% endif %}
	  
	  </small></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
	{% block content %} 
     {% if entries %}
		{% for entry in entries %}
		 <article>
	 
			<h3><a href="{% url 'entry' entry.id %}">{{entry.title}}</a></h3>
			<h6>Written by <a title="{{ entry.author.about }}" href="{% url 'index_user' entry.author.id %}">{{entry.author.name}}</a> on {{entry.date_created}} in <a title="{{ entry.category.description }}" href="{% url 'index_cat' entry.category.id %}">{{entry.category.cname}}</a></h6>
 
		<p>{{ entry.content }} </p>
      </article>
 		{% endfor %}
	{% endif %}

      <hr />
 	 {% endblock %} 
 
    </div>
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-3 columns">
	
 	  {% if cats %}
      <h5>Categories</h5>
      <ul class="side-nav">
		{% for cat in cats %}
        <li><a title="{{ cat.description }}" href="{% url 'index_cat' cat.id %}">{{ cat.cname }}</a></li>
		{% endfor %}
      </ul>
	  {% endif %}
 
      <div class="panel">
		{% if liuser %}
		<h5>Logged in as</h5>
        {{liuser.name}}<br/>
		<p style="font-size:10px;">
		{{liuser.about}}
		</p>
		<form action="{% url 'search' %}" method="POST">
		{% csrf_token %}
		<p style="display:inline;">Search: </p><input type="text" name="kw">
		<input type="submit" value="Search" />

		</form>

		<br/><br/>
	    <a href ="{% url 'post' %}">New Post</a>
		<br />
		<a href ="{% url 'signout' %}">Log out </a>
				
		{% else %}
        <h5>Login</h5>
        <form name ="login" action = "{% url 'login_action' %}" method = "post">
		{% csrf_token %}
			Username: 
			<input type="text" name="username">
			<br>
			Password: 
			<input type="password" name="password">
			<input type="submit" value="login" />
		</form>
		
		<a href="{% url 'signup' %}">Sign Up </a>
		{% endif %}
      </div>
 		
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013. All rights reserved.</p>
        </div>
        <!--<div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>-->
      </div>
    </div>
  </footer>
</body>
</html>
