{% extends "index.html" %}

{% block content %}
      <h3>Get in Touch!</h3>
      <div class="content" data-slug="panel2">
            <ul class="large-block-grid-5">
              <li><a href="https://www.facebook.com/aayush.gupta2306" target = "_blank" ><img src="{{ MEDIA_URL }}pics/aayush.jpg" style="width:200px;height:200px;">Aayush Gupta</a></li>
              <li><a href="https://www.facebook.com/kanik.gupta.796" target = "_blank" ><img src="{{ MEDIA_URL }}pics/kanik.jpg" style="width:200px;height:200px;">Kanik Gupta</a></li>
              <li><a href="https://www.facebook.com/siddharth.maheshwari.140" target = "_blank" ><img src="{{ MEDIA_URL }}pics/siddharth.jpg" style="width:200px;height:200px;">Siddharth Maheshwari</a></li>
              <li><a href="https://www.facebook.com/sushant.ojal" target = "_blank" ><img src="{{ MEDIA_URL }}pics/sushant.jpg" style="width:200px;height:200px;">Sushant Ojal</a></li>
              <li><a href="https://www.facebook.com/vishalmittal8" target = "_blank" ><img src="{{ MEDIA_URL }}pics/vishal.jpg" style="width:200px;height:200px;">Vishal Mittal</a></li>
              
            </ul>
</div>
{% endblock %}
